{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="../static/css/style.css" type="text/css">
<link rel="stylesheet" href="../static/css/aquamarine.scss" type="text/css">
<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->



<script>
  var replace_str = "{{ranking}}".replaceAll("&#x27;","\"");
  var rank_data = JSON.parse(replace_str);
  console.log(rank_data);
  function ranking_func(str){

    for(var i in rank_data){
      if(rank_data[i].category == str){

        var f = document.getElementById("first");
        var s = document.getElementById("second");
        var t = document.getElementById("third");
        var four = document.getElementById("fourth");
        var fif = document.getElementById("fifth");
        f.text = rank_data[i].gu[0] + " " + rank_data[i].dong[0];
        s.text = rank_data[i].gu[1] + " " + rank_data[i].dong[1];
        t.text = rank_data[i].gu[2] + " " + rank_data[i].dong[2];
<!--        four.text = rank_data[i].gu[3] + " " + rank_data[i].dong[3];-->
<!--        fif.text = rank_data[i].gu[4] + " " + rank_data[i].dong[4];-->
      }
    }
}

</script>

<style>
.o-hidden {
    overflow:hidden;
    }
#contentnav {
    transition: transform 0.4s;
    transform: translateX(50%);
    color :primary;
    font-size : 30px;

    left: -50%;
    top: 50%;
}

.nav.justify-content-end {
    transform: translateX(0);
    left: 0;
    }
    #contentbox {

}


        #gold{
    position : relative;
    left :160px;
    top:-250px;
    width : 10%;
    height : 10%;
        }
        #silver{
    position : relative;
    left :45px;
    top:-100px;
    width : 10%;
    height : 10%;
        }
        #bronze{
    position : relative;
    left :-70px;
    top:60px;
    width : 10%;
    height : 10%;
        }

        #first{
          font-size : 50px;
          position : relative;
          left :300px;
          top:30px;
          font-weight : 400;

        }
        #second{
          font-size : 50px;
          position : relative;
          left :300px;
          top:90px;
          font-weight : 400;


        }
        #third{
          font-size : 50px;
          position : relative;
          left :300px;
          top:155px;
          font-weight : 400;


        }


</style>
<div class="content-wrap">
        <div class="content">
            <header class="codrops-header">
                <nav class="codrops-demos">
                    <button onclick="ranking_func('transportation')">교통</button>
                    <button onclick="ranking_func('safety')">치안</button>
                    <button onclick="ranking_func('education')">교육</button>
                     <button onclick="ranking_func('medical')">건강</button>
                     <button onclick="ranking_func('facilities')">편의</button>
                     <button onclick="ranking_func('parenting')">육아</button>
                     <button onclick="ranking_func('kids_num')">키즈카페</button>
                     <button onclick="ranking_func('mz_pop_cnt')">젊은동네</button>
                     <button onclick="ranking_func('noise_vibration_num')">조용한동네</button>
                     <button onclick="ranking_func('gym_num')">헬스장</button>
                      <button onclick="ranking_func('golf_num')">골프장</button>
                    <button onclick="ranking_func('park_num')">공원</button>
                    <button onclick="ranking_func('starbucks_num')">스세권</button>
                    <button onclick="ranking_func('mc_num')">맥세권</button>
                    <button onclick="ranking_func('golf_num')">골프장</button>
                    <button onclick="ranking_func('ani_hspt_num')">반려동물</button>
                    <button onclick="ranking_func('coliving_num')">쉐어하우스</button>
                    <button onclick="ranking_func('car_shr_num')">나눔카</button>
                    <button onclick="ranking_func('vegan_cnt')">채식</button>
                    <button onclick="ranking_func('safe_dlvr_num')">안심택배</button>

                </nav>
            </header>
    </div>
</div>
<!--                    <div class="flex-grow-1 w-100 o-hidden">-->
<!--                        <ul class="nav nav-fill text-uppercase small position-relative flex-nowrap" id="contentnav">-->
<!--                            <li class="nav-item">-->
<!--                        &lt;!&ndash;                    <button onclick="ranking_func('transportation')" class="btn-outline-primary btn-block " data-toggle="pill" data-target="#tabtwo" >교통</button>&ndash;&gt;-->
<!--                                <a href="#" onclick="ranking_func('transportation')" class="nav-link">교통</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" onclick="ranking_func('safety')" class="nav-link">치안</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('education')">교육</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('medical')">건강</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('facilities')" >편의</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('parenting')" >육아</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('kids_num')" >키즈카페</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('mz_pop_cnt')" >젊은 동네</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('noise_vibration_num')" >조용한 동네</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('gym_num')" >헬스장</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('golf_num')" >골프장</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('park_num')" >공원</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('starbucks_num')" >스세권</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('mc_num')" >맥세권</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('kids_num')" >키즈카페</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('ani_hspt_num')" >반려동물</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('coliving_num')" >쉐어하우스</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('car_shr_num')" >나눔카</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('vegan_cnt')" >채식</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="#" class="nav-link" onclick="ranking_func('safe_dlvr_num')" >안심택배</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="flex-shrink-0">-->
<!--                        <a href="#" class="btn-right btn-link toggle p-2 text-dark"><i class="fa fa-arrow-right"></i></a>-->
<!--                    </div>-->
<!--                </div>-->


    <!--          <ul class="nav nav-pills flex-grow-1   nav-fill " >-->
    <!--&lt;!&ndash;              nav-tabs flex-sm-row flex-grow-1 flex-column gap-2 col-18 m-0 d-grid&ndash;&gt;-->
    <!--<div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">-->
    <!--          <div class="btn-group mx-auto " role="group" aria-label="First group">-->
    <!--            <button onclick="ranking_func('transportation')" class="btn-outline-primary btn-block " data-toggle="pill" data-target="#tabtwo" >교통</button>-->
    <!--            <button onclick="ranking_func('safety')" class="btn-outline-primary btn-block" data-toggle="pill" data-target="#tabtwo">치안</button>-->
    <!--            <button onclick="ranking_func('noise_vibration_num')" class="btn-outline-primary btn-block" data-toggle="pill" data-target="#tabtwo">조용한 동네</button>-->
    <!--            <button onclick="ranking_func('leisure_num')" class="btn-outline-primary btn-block" data-toggle="pill" data-target="#tabtwo">실내레저시설</button>-->
    <!--            <button onclick="ranking_func('gym_num')" class="btn-outline-primary btn-block" data-toggle="pill" data-target="#tabtwo">헬스장</button>-->
    <!--            <button onclick="ranking_func('golf_num')" class="btn-outline-primary btn-block" data-toggle="pill" data-target="#tabtwo">골프장</button>-->
    <!--            <button onclick="ranking_func('park_num')" class="btn-outline-primary btn-block" data-toggle="pill" data-target="#tabtwo">공원</button>-->
    <!--            <button onclick="ranking_func('facilities')" class="btn-outline-primary btn-block" data-toggle="pill" data-target="#tabtwo">편의</button>-->
    <!--            <button onclick="ranking_func('medical')" class="btn-outline-primary btn-block" data-toggle="pill" data-target="#tabtwo">건강</button>-->
    <!--            <button onclick="ranking_func('starbucks_num')" class="btn-outline-primary btn-block" data-toggle="pill" data-target="#tabtwo">스세권</button>-->
    <!--            &lt;!&ndash;              </div>&ndash;&gt;-->
    <!--            &lt;!&ndash;              <div class="btn-group d-grid gap-2 col-30 mx-auto" role="group" aria-label="Thrid group">&ndash;&gt;-->
    <!--            <button onclick="ranking_func('mc_num')" class="btn-secondary btn-block" data-toggle="pill" data-target="#tabtwo">맥세권</button>-->
    <!--            <button onclick="ranking_func('vegan_cnt')" class="btn-secondary btn-block" data-toggle="pill" data-target="#tabtwo">채식</button>-->
    <!--            <button onclick="ranking_func('coliving_num')" class="btn-secondary btn-block" data-toggle="pill" data-target="#tabtwo">쉐어하우스</button>-->
    <!--            <button onclick="ranking_func('education')" class="btn-secondary btn-block" data-toggle="pill" data-target="#tabtwo">교육</button>-->
    <!--            <button onclick="ranking_func('parenting')" class="btn-secondary btn-block" data-toggle="pill" data-target="#tabtwo">육아</button>-->
    <!--            <button onclick="ranking_func('kids_num')" class="btn-secondary btn-block" data-toggle="pill" data-target="#tabthree">키즈카페</button>-->
    <!--            <button onclick="ranking_func('ani_hspt_num')" class="btn-secondary btn-block" data-toggle="pill" data-target="#tabtwo">반려동물</button>-->
    <!--            <button onclick="ranking_func('safe_dlvr_num')" class="btn-secondary btn-block" data-toggle="pill" data-target="#tabtwo">안심택배</button>-->
    <!--            <button onclick="ranking_func('car_shr_num')" class="btn-secondary btn-block" data-toggle="pill" data-target="#tabtwo">나눔카</button>-->
    <!--            <button onclick="ranking_func('mz_pop_cnt')" class="btn-secondary btn-block" data-toggle="pill" data-target="#tabtwo">젊은 동네</button>-->
    <!--          </div>-->

            <!--        기존있던 코드    <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabtwo">편의시설</a> </li>-->
    <!--          </ul>-->
<!--    </div>-->
<!--</div>-->

  <div class="py-1">
    <div class="container justify-content-center" >
      <div class="container" id="kingcontainer">
        <a href="" class=" nav-link" data-toggle="pill" data-target="#tabone" id="first">&nbsp;</a>
        <a href="" class="nav-link"  data-toggle="pill" data-target="#tabtwo" id="second">&nbsp;</a>
        <a href="" class="nav-link" data-toggle="pill" data-target="#tabthree" id="third">&nbsp;</a>
        <img src="../static/img/free-icon-gold-medal-1910528.png" id="gold">
        <img src="../static/img/free-icon-silver-medal-1910479.png" id="silver">
        <img src="../static/img/free-icon-bronze-medal-5355514.png" id="bronze">
      </div>

      <div class="row">
        <div class="col-3 col-md-4" style="">

        </div>
        <div class="col-9 col-md-4" style="">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
              <p class="">

              </p>
            </div>
            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <p class="">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
            </div>
            <div class="tab-pane fade" id="tabthree" role="tabpanel">
              <p class="">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    </div>
    <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
</div>


<script type="text/javascript">
  $(function(){
});
</script>
{% endblock %}