
{% extends "base.html" %}
{% block content %}
{% load static %}

  <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="px-md-5 col-md-12">
          <h1 class="text-primary mb-4"> <b>{{data.dong_name}}</b></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="" class="active nav-link" data-toggle="pill" data-target="#tabone">교통</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">치안</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabthree">조용한 동네</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">실내레저시설</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">헬스장</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">골프장</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">공원</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">편의시설</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">의료시설</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">스타벅스</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">맥도날드</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">채식</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">코리빙</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">교육</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">육아</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">키즈카페</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">동물병원</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">안심택배</a> </li>
            <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabtwo">나눔카</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabtwo">MZ세대 인구수</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
          <title>집</title>
          <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=liyb9vr43o"></script>
      </head>
      <body>
          <div id="map" style="width:100%;height:100vh;margin:0 auto;"></div>
      
      <script>
      var HOME_PATH = window.HOME_PATH || '.';
      
      
      map = new naver.maps.Map('map', {
          center: new naver.maps.LatLng(36.31175, 127.3754709),
          zoom: 13
      });
      
      
      var juyeonhouse = new naver.maps.LatLng(36.30260, 127.33838);
      var hanbyeolhouse = new naver.maps.LatLng(36.32611, 127.41263);
      
      
      var markers = [];
      var infowindows = [];
      
      
      markers.push(new naver.maps.Marker({
          map: map,
          position: juyeonhouse
      }));
      
      infowindows.push(new naver.maps.InfoWindow({
          content: [
              '<div class="iw_inner">',
              '   <h3>주연이네 집</h3>',
              '</div>'
          ].join('')
      }));
      
      
      markers.push(new naver.maps.Marker({
          map: map,
          position: hanbyeolhouse
      }));
      
      infowindows.push(new naver.maps.InfoWindow({
          content: [
              '<div class="iw_inner">',
              '   <h3>한별이네 집</h3>',
              '</div>'
          ].join('')
      }));
      
      for(let i=0; i<markers.length; i++){
          naver.maps.Event.addListener(markers[i], "click", function(e) {
              if (infowindows[i].getMap()) {
                  infowindows[i].close();
              } else {
                  infowindows[i].open(map, markers[i]);
              }
          });
      }
      
      infowindows[0].open(map, markers[0]);
      </script>
      </body>
      </div>
    </div>
  </div>

        
        
        <!--div class="col-md-5" style=""><img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg"></div-->
      </div>
    </div>
  </div>

{% endblock %}