{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>동네어때</title>
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<style>

.w-btn {
    border: none;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    font-weight: 600;
       background-color: #14213d;
    color: #fefae0;
    font-size:30px;

}
</style>

<body>
<div style="width:100%; text-align:center; ">
    <div style=" text-align : center; margin:5px;font-size:30px;    ">
        <img src="../static/img/logo2.png" width="220px" height="100px">
    </div>
    <div style="padding:5%; display:inline-block;">
        <a>마음에 쏙 드는 동네 찾기!</a>
    </div>
     <form action="./basicSelect" method="POST">{% csrf_token %}
    <div style="display:block">
        <button type="submit" class="w-btn" style="width:200px; height:100px">START</button>
    </div>
     </form>


</div>

</body>
</html>