{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
#container {
    width: 800px;
    height: 600px;
    float: left;
    margin-left : 150px;
    padding-top : 50px;
    fill: #000000;
}

.background {
    fill: #67cccc;
    pointer-events: all;
}
#map {
	border: 1px solid #ddd;
}

#states path {
    fill: #ccece6;
    stroke: #fff;
    stroke-width: 1.5px;
}

#states path:hover {
    fill: #4bedf3;
}

#states .active {
    fill: #cb54db;
}

#states .activeDetail {
    fill: #4bf391;
}

#states path {
    cursor: pointer;
}

#states text {
    cursor: pointer;
    font-size: 7px;
    fill: #290909;
}

</style>

<div id="container"></div>

<form action="{% url 'recommend_app:similarRecommend' %}"  method="POST"> {% csrf_token %}
     <button style="padding:5px" class="btn btn-outline-primary btn-block">동네 찾기 </button>
    <input type="hidden" name="dong_code" id="dong_code" value="">
</form>
{% endblock %}